#parse("templates/page-header.vm")
<h1>SOA catalog</h1>

<p>This catalog has been generated at ${now}.</p>

<p>It contains:
<ul>
<li>$nbRequests requests</li>
<li>$nbResponses responses</li>
<li>$nbApplications applications</li>
</ul>

#parse("templates/page-footer.vm")
