#parse("templates/page-begin.vm")
Navigation: <a href="index.html">Home</a>
&nbsp; | &nbsp;
<a href="applications-list.html">Applications</a>
&nbsp; | &nbsp;
<a href="requests-list.html">Requests</a>
&nbsp; | &nbsp;
<a href="responses-list.html">Responses</a>
&nbsp; | &nbsp;
<a href="datatypes-list.html">Datatypes</a>
&nbsp; | &nbsp;
<hr/>
${projectInfosHtml}
