#parse("templates/page-header.vm")
<h1>Response '${bean.name}'</h1>
<h2>Documentation:</h2>
<blockquote>
    #foreach( $comment in ${bean.dtoComments} )
        $comment<br/>
    #end
    <hr/>
    Java Class: ${bean.dtoClassname}
</blockquote>
#parse("templates/section-fields.vm")
<h2>Expected by requests:</h2>
<ul>
    #foreach( $request in ${bean.requestsExpectingThisResponse} )
        <li><a href="${generator.getRequestFilename($request.dtoClassname)}.html">${request.name}</a> - ${request.firstDtoComment}</li>
    #end
</ul>
#parse("templates/page-footer.vm")
